<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.979003909535-lp099hhodumgv4pejqp8ahtbu4ibsop8</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>roysoft.co.kr</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>러닝 중 위치를 추적하여 경로를 기록하고 거리를 계산하기 위해 항상 위치 권한이 필요합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>러닝 중 위치를 추적하여 경로를 기록하고 거리를 계산하기 위해 항상 위치 권한이 필요합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>러닝 중 위치를 추적하여 경로를 기록하고 거리를 계산하기 위해 위치 권한이 필요합니다.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>processing</string>
	</array>
</dict>
</plist>
